<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="stylesheet" href="/static/about.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/prediction">Sleep Prediction</a></li>
        <li><a href="/about">About Us</a></li>
        <!-- <li><a href="/contact">Contact Us</a></li> -->
      </ul>
    </nav>
  </header>

  <main class="container">
    <h1>About Our Sleep Quality Predictor</h1>
    
    <section>
      <h2>Our Mission</h2>
      <p> We aim to empower individuals to achieve better sleep and overall well-being.
        Our goal is to help users understand the factors that impact their sleep, and provide meaningful guidance to improve it. 
        Because better sleep leads to better health, sharper focus, and a more energized life.</p>
    </section>
    
    <section>
      <h2>How It Works</h2>
      <p>Our predictor analyzes various health and lifestyle factors to estimate your sleep quality and provide personalized recommendations.</p>
    </section>
    
  
  </main>

  <footer>
    <p>&copy; 2023 Sleep Quality Predictor. All rights reserved.</p>
  </footer>
</body>
</html>